{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>E-Buy</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">

  
</head>

<body>
  
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>E-Buy</title>
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  
  </head>

  <body>

    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h1 class="logo"><i class="glyphicon glyphicon-tag"></i> E-<span class="primary">Buy</span></h1>
			    
          </div>
          <div class="col-md-8 col-sm-12">
          </div>
        </div>
      </header>

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
         
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/homepage">Home</a></li>
              <!-- <li><a href="#">Specials</a></li> -->
 			  <li><a href="#">My Account</a></li>
 
            </ul>
            <ul class="nav navbar-nav navbar-right">
  <form class="navbar-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search">
    </div>
    <button type="submit" class="btn btn-default"> Search</button>
              </form>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-4">
            
            <div class="preview-pic ">
              <div class="tab-pane active" id="pic-1"><div class="thumbnail"><img src="{{MEDIA_URL}}{{product.image}}" /></div></div>
              
            </div>
            
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{product.name}}</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
             </div>
            <p class="product-description"> {{product.desc}}</p>
            <h4 class="price">Price: <span>Rs {{product.price}}</span></h4>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
           
            <div class="action">
              <a href="{% url  'homepage:buy' product.name  %}">
              <button class="add-to-cart btn btn-default" type="button">Buy Now</button>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if also %}
  <h3>Customers also bought</h3>
  <div class="jumbotron">   
      <section id="products">
      <div class="row">
      {% for x in also %}
        
        <div class="col-md-3">
          <a href="/homepage/product/{{x.name}}">
            <div class="thumbnail">
              <img src="{{ MEDIA_URL }}{{ x.image }}">
              <div class="caption">
                <h4>{{x.name}}</h4>
                <h4 >Rs.{{x.price}}</h4>
                
              </div>
            </div> 
          </a>
        </div>

        <!-- if last column in row -->
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
       </div>
       
       <div class="row">
          
        {% endif %}

      {% endfor %}

      </section>
    </div>
  {% endif %}
  <h3>Additional Recommendations</h3>
   <div class="jumbotron">   
      <section id="products">
      <div class="row">
      {% for x in recommendations %}
        
        <div class="col-md-3">
          <a href="/homepage/product/{{x.name}}">
            <div class="thumbnail">
              <img src="{{ MEDIA_URL }}{{ x.image }}">
              <div class="caption">
                <h4>{{x.name}}</h4>
                <h4 >Rs.{{x.price}}</h4>
                
              </div>
            </div> 
          </a>
        </div>

        <!-- if last column in row -->
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
       </div>
       
       <div class="row">
          
        {% endif %}

      {% endfor %}

      </section>
      

    </div>
  </div>
  </body>
  </html>